#!/bin/csh -f

#
# Program: annotload.config
#
# Purpose:
#
#   Configuration file for Protein Isoform Ontology
#

# All outputs go here, diag and error logs, bcp files, etc
setenv ANNOTDATADIR		${DATALOADSOUTPUT}/pro/proisoformload

# new, append, preview
setenv ANNOTMODE		new

# VOC_AnnotType.name
setenv ANNOTTYPENAME		"Protein Isoform Ontology/Marker"

# full path to the annotation input file
setenv ANNOTINPUTFILE		${ANNOTDATADIR}/input/proannot.txt

# full path to the specific load log, all stdout goes here
setenv ANNOTLOG			${ANNOTDATADIR}/logs/proannot.log

# if delete by reference, specify here, else specify 'J:0'
setenv DELETEREFERENCE		"J:232325"

# if delete by user specify here
setenv DELETEUSER		"proisoformload"

# if 1 load annotations to obsolete terms 
setenv ANNOTOBSOLETE		0

# vocabulary key (VOC_Vocab._Vocab_key) of the Annotation Property
# for example:  GO Property has _Vocab_key = 82
setenv ANNOTPROPERTY		82

